{% extends 'layout.twig' %}

{% block content %}
<div class="starter-template">
</div>

{% for row in result.absences %}
    <h2>{{ row.collaborateur }}</h2>
    <table class="table">
    	<thead class="thead-inverse">
        <tr>
            <th>Durée (jours)</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
    {% for absence in row.absences %}
        <tr>
            <td>{{ absence.duration }}</td>
            <td>{{ absence.from|date("d/m/Y") }}</td>
            <td>{{ absence.to|date("d/m/Y") }}</td>
            <td>{{ absence.description }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
