{% extends 'layout.twig' %}

{% block content %}
<br>
<div class="row" style="margin-bottom: 30px">
    <div class="col">
        <h2>
            Semaine {{ result.week }}<br>
            <small class="text-muted"><i>({{ result.dates }})</i></small>
        </h2>
    </div>
    <div class="col">
        <a class="btn btn-info" href="{{ path('report.cafForWeek', {'week': result.week - 1}) }}" role="button"> &lt; Précédente</a>
        <a class="btn btn-info" href="{{ path('report.cafForWeek', {'week': result.week + 1}) }}" role="button">Suivante &gt; </a>
    </div>
    <div class="col">
        <a class="btn btn-success" href="" role="button">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
             &nbsp; Dégrader la fiabilité des données &nbsp; &nbsp; &nbsp;
             <i class="fa fa-cloud-download" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-hover table-sm">
        <thead class="table-info">
            <th></th>
            <th>{{ result.totalCAF }} jour{% if result.totalCAF > 1 %}s{% endif %}</th>
        </thead>
        <tbody>
        {% for row in result.absences %}
            <tr{% if row.caf == 0 %} class="table-danger"{% elseif row.caf < result.maxDuration %} class="table-warning"{% endif %}>
                <td>{{ row.collaborateur }}</td>
                <td>{{ row.caf }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<hr>

{% if result.collectives is not empty %}
<div class="row" style="margin-bottom: 15px">
    <div class="col">
        <h4>Absences collectives</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-sm" style="margin-bottom: 30px">
            <thead class="thead-inverse">
            <tr>
                <th>Description</th>
                <th>Durée (jours)</th>
                <th>Début</th>
                <th>Fin</th>
            </tr>
            </thead>
            <tbody>
        {% for absence in result.collectives %}
            <tr>
                <td>{{ absence.description }}</td>
                <td>{{ absence.duration }}</td>
                <td>{{ absence.from|date("d/m/Y") }}</td>
                <td>{{ absence.to|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<div class="row" style="margin-bottom: 15px">
    <div class="col">
        <h4>Absences personnelles</h4>
    </div>
</div>
<div class="row">
    <div class="col">
    {% for row in result.absences %}
        {% if row.absencesPerso is not empty %}
            <h6>{{ row.collaborateur }} (absent {{ row.totalAbsences }} jour{% if row.totalAbsences > 1 %}s{% endif %} en tout)</h6>
            <table class="table table-striped table-sm" style="margin-bottom: 30px">
                <thead class="thead-inverse">
                <tr>
                    <th>Description</th>
                    <th>Durée (jours)</th>
                    <th>Début</th>
                    <th>Fin</th>
                </tr>
                </thead>
                <tbody>
            {% for absence in row.absencesPerso %}
                <tr>
                    <td>
                        {{ absence.description }}
                        {% if absence.partial %} &nbsp; <i class="fa fa-share-alt" aria-hidden="true"></i>{% endif %}
                    </td>
                    <td>{{ absence.duration }}</td>
                    <td>{{ absence.from|date("d/m/Y") }}</td>
                    <td>{{ absence.to|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}
