{% extends 'layout.twig' %}

{% block content %}
<div class="starter-template">
</div>

<h1>
	Semaine {{ result.week }}
	<small class="text-muted"><i>({{ result.dates }})</i></small>
</h1>
<a class="btn btn-info" href="{{ path('report.cafForWeek', {'week': result.week - 1}) }}" role="button"> &lt; Semaine Précédente</a>
<a class="btn btn-info" href="{{ path('report.cafForWeek', {'week': result.week + 1}) }}" role="button">Semaine suivante &gt; </a>


<hr>

{% for row in result.absences %}
    <h3>{{ row.collaborateur }} ({{ row.caf }} jour{% if row.caf > 1 %}s{% endif %})</h3>
    <table class="table table-striped">
    	<thead class="thead-inverse">
        <tr>
            <th>Durée (jours)</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
    {% for absence in row.absences %}
        <tr>
            <td>{{ absence.duration }}</td>
            <td>{{ absence.from|date("d/m/Y") }}</td>
            <td>{{ absence.to|date("d/m/Y") }}</td>
            <td>{{ absence.description }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endfor %}

<hr>

<h2>Total CAF : {{ result.totalCAF }} jours</h2>

{% endblock %}
